*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    background-image: linear-gradient(to right, rgba(177, 177, 177, 0.01) 25%, rgba(0, 0, 0, 0.238) 100%);
    justify-content: space-between;
    align-items: center;
}

.menuHTML{
    display: none;
} 


/* .menuppal{
    display: none;
    background-color: rgba(0, 0, 0, 0.703);
     bottom: 0;
     height: 100%;
     left: 0;
     overflow-y: scroll;
     position: fixed;
     top: 0;
     transform: translate3d(0px, -100%, 0px);
     transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
     width: 100%;
     z-index: 1001;
 } */


/* Ola */

.wave{
    position: absolute;
    bottom: -60px;
    width: 100%;
}
.logo{
    line-height: 2px;
    margin: 30px;
    width: 50px;
    height: 50px;
    color: #ffffff;
    filter:drop-shadow(0 8px 8px #fbfbfb23);
    display: flex;
    cursor: pointer;
    line-height: 30px;
}


.menu {
    display: flex;
    font-size: 15px;
    color: black;
    align-items: center;
    
    
}

.menu a{
    text-decoration: none;
}

.menu .option{
    font-size: 17px;
    margin-top: 12px;
    margin-right: 40px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
    background-color: #ffffff5e;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.127);
    font-weight: 600;
}

.option:hover{
    color: #f70a61;
    background-color: #dcdcdc5e;
    border-left:1px solid white;
    border-top:1px solid white ;
    padding: 8px;
    border-radius: 10px;
   
}

header{
    background-image: url(/cute-little-dog-impersonating-business-person.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}


.tarjeta-bienvenida{
    width: 60%;
    height: 400px;
    margin: 50px 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-weight: 900;
    filter:drop-shadow(0 8px 8px rgba(0,0,0,0.5)); 
    z-index: 0;
}

.subtitle{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    margin: 10px 30px;
    text-align: center;
    filter:drop-shadow(5px 5px 5px rgb(0, 0, 0, 0.2)); 
}

.boton{
    margin-top: 20px;
    text-decoration: none;
    border: none;
    padding: 12px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.526);
    color:white;
    font-weight: 600;
    filter:drop-shadow(0 5px 5px rgba(0,0,0,0.4));
}

.boton:hover{
    background-color: black;

}

/* Main */
section{
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}


h2{
    width: 50%;
    margin: 20px auto 20px auto;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    background-image: linear-gradient(to right, #f77952 0%, #d34e24 100%);
  -webkit-background-clip: text;
  color: transparent; 
    filter:drop-shadow(0 8px 8px rgba(0, 0, 0, 0.161)); 
}

section p{
    width: 85%;
    margin: 20px auto 20px auto;
    font-size: 20px;
    font-weight: 900;
    color: white;
    text-align: justify;
    background-image: linear-gradient(120deg, #f6d465df 0%, #fd9f85db 100%);
    filter:drop-shadow(0 8px 8px rgba(0, 0, 0, 0.161)); 
    padding: 30px;
    border-radius: 10px;
}

.amigos{
    width: 100%;
    background-color: rgb(255, 255, 255);
}


.container-tarjetas{
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto;
    align-items: center;
    
}

.t1, .t2, .t3{
    width: 300px;
    height: 450px;
    background-color: #ffdb6f;
    /* background-image: linear-gradient(120deg, #ffc813 0%, #fda085 100%); */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    filter:drop-shadow(0 8px 8px rgba(0,0,0,0.5));
}

h3{
    font-size: 25px;
    color: #f70a61;
}

.animal{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-top: 20px;
    filter:drop-shadow(0 8px 8px rgba(0,0,0,0.5));
    margin-bottom: 30px;
}

.dueño{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    vertical-align: middle;
    margin-right: 12px;
}

.dueño:hover{
    border: 2px solid #f70a61;
}

.container-dueno{
    width: 100%;
    height: 50px;
    margin: 10px 20px 10px 60px;
}

span{
    font-size:15px;
    font-weight: 600;
}


.beneficios{
    width: 90%;
    height:75vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 50px auto;
    filter:drop-shadow(0 8px 8px rgba(0,0,0,0.2));
    background-color: #ffffff;
    
}

.iconos{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: rgb(0, 0, 0);
}

.img-ico{
    width: 40%;
    padding: 50px;
}

/* Formulario contacto  */

.contact_form{  
    
    width: 480px; 
    height: auto;
    margin: 60px auto;
    border-radius: 20px;  
    padding-top: 20px;
    padding-bottom: 20px;  
    background-color: rgba(40, 45, 47, 0.437); 
  
      border-top: 1px solid rgba(255, 0, 255, 0.555);
      border-left: 1px solid rgba(235, 85, 255, 0.431);
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.218);
      backdrop-filter: blur(5px);
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  
  label{
    display: flex; 
    justify-content: start;
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;  
    margin: auto 30px;
   
    
    text-transform: uppercase;
    background-color: #00000099; 
    border-color: #ffffff9a; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  button:hover{
      background-color:#000000;
      border-color: #ffffffce;
      font-weight: 600;
      letter-spacing: 1px;
      border-left: 2px solid rgba(255, 255, 255, 0.431);
      border-top: 2px solid rgba(255, 255, 255, 0.431);
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  .obligatorio{
    color: #ffca2b; 
  }
  
  
  .aviso{
    font-size: 13px; 
    color: #ffffff;  
  }
  
  .formulario h2{
      font-size: 40px;
      width: 80%;
      text-align: center;
      padding: 30px;
      color: whitesmoke;
  }
  
  .contact-me{
      font-size: 14px;
      text-align: center;
      margin: auto;
      width: 80%;
      text-align: left; 
      padding-bottom: 30px; 
      color: white;
      font-weight: 400;
  }
  
  
  
  p{
    font-size: 15px; 
    color: #ffffff; 
    font-weight: 600;
    margin: 10px 30px;
    text-align: center;
    filter:drop-shadow(5px 5px 5px rgb(0, 0, 0, 0.2)); 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  

/* FOOTER */

footer{
    background-image: linear-gradient(to right, rgba(255, 234, 0, 0.596) 25%, rgba(255, 136, 0, 0.492) 100%);
    width: 100%;
    height: 80px;
    text-align: center;
}

footer .footer{
    text-decoration: none;
    color: rgb(103, 103, 103);
    position: relative;
    font-weight: 800;
    top: 30px;
    font-size: 15px;
    letter-spacing: 1px;
    transition: all 0.3ms ease;
}

footer .footer:hover{
    color: #ff0073;
    
}

@media only screen and (min-width: 1280px){
    header{
        background-position-y:-300px ;
    }
    
}


@media only screen and (min-width: 992px) and (max-width: 1280px){
    header{
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
        background-position-y:-200px ;
    }
    
}




@media only screen and (min-width: 769px) and (max-width: 1024px){

    .tarjeta-bienvenida{
        width: 90%; 
    }

    header{
        background-color: #ffca2b;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        background-position-y:-100px ;
    }
    

    .container-tarjetas{
        width: 100%;
        height: 1300px;
        flex-direction: column;
        margin-top: 40px;
        
    }


    section p{
        width: 75%;
        margin: 20px auto 20px auto;
        font-size: 20px;
        font-weight: 900;
        color: white;
        text-align: justify;
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        padding: 30px;
        border-radius: 10px;
    }
    
    
    .t1, .t2, .t3{
        width: 300px;
        height: 450px;
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        filter:drop-shadow(0 8px 8px rgba(0,0,0,0.5));
    }
    
    .beneficios{
        width: 75%;
        height: 900px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin: 60px auto;
        filter:drop-shadow(0 8px 8px rgba(0,0,0,0.2));
        background-color: #ffffff;
    }

    .beneficios h2{
        width: 100%;
        margin: 10px auto;
        font-size: 40px;
    }

    .beneficios p{
        width: 80%;
    }
    
    .iconos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: auto;
        font-size: 16px;
        color: rgb(0, 0, 0);
    }
    
    .img-ico{
        width: 20%;
        padding: 35px;
    }

    /* Formulario */

    .contact_form{  
    
        width: 75%; 
        height: auto;
        margin: 60px auto;
        border-radius: 20px;  
        padding-top: 20px;
        padding-bottom: 20px;  
        background-color: rgba(40, 45, 47, 0.437); 
      
          border-top: 1px solid rgba(255, 0, 255, 0.555);
          border-left: 1px solid rgba(235, 85, 255, 0.431);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.218);
          backdrop-filter: blur(5px);
      }
      
      
      input{
        background-color: #fbfbfb; 
        width: 90%; 
        height: 40px; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color: #ab4493; 
        margin-top: 10px;  
        padding-left: 10px;
        margin-bottom: 20px; 
      }
      
      
      textarea{
        width: 90%; 
        height: 150px; 
      }
      
      
      button{
          width: 90%;
      }
      
      button p{
        color: #fff; 
      }
      
      
      span{
        color: #ab4493; 
      }
      
      
      .aviso{
        font-size: 12px;
        letter-spacing: 2px; 
        color: #ffffff;  
        font-family: sans-serif;
      }
      
      .formulario h2{
          font-size: 40px;
          width: 80%;
          text-align: center;
          padding: 30px;
      }
      
      .contact-me{
          font-size: 13px;
          text-align: center;
          margin: auto;
          width: 90%;
          text-align: left; 
          padding-bottom: 30px; 
          color: white;
          font-weight: 600;
      }


}

@media only screen and (min-width: 345px) and (max-width: 767px){

    .navbar {
        width: 100%;
        height: 100px;
        display: flex;
        /* background-image: linear-gradient(to right, rgba(177, 177, 177, 0.01) 25%, rgba(0, 0, 0, 0.238) 100%); */
        justify-content: space-between;
        align-items: center;
    }

   .menuHTML{
        display: block;
    } 

    .menu-button {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 20px;
        height: 18px;
        padding: 12px;
        border-radius: 50%;
        background: #333333;
        color: white;
        cursor: pointer;
        position: relative;
        top: 10px;
        
     }

     .toggle a{
         text-decoration: none;
         color: white;
         -webkit-tap-highlight-color: rgba(0,0,0,0);
     }
     
     .menu-button span {
        width: 18px;
        margin: auto;
        height: 2.5px;
        background: white;
     }
     
     .menu-toggle {
        display: none;
     }
     
     .toggle {
        display: none;
        text-align: center;
        background: rgba(0, 0, 0, 0.852);
        border-radius: 7px;
        padding: 40px;
        width: 100px;
        margin: 10px auto;
        position: absolute;
        top: 75px;
        right: 15px;
        z-index: 1000;

     }
     
     .toggle li {
         list-style: none;
         display: block;
         padding: 20px 0;
         color: white;
         font-size: 20px;
     }
     
     .menu-toggle:checked + .toggle {
         display: block;
     }

    /* .hamburger{
        position:fixed;
      background-color:transparent;
        right:0;
        top:0;
        height:30px;
        width:30px;
        padding:40px 30px;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index:1002;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none
    }
    .hamburger.is-active{
      background-color:none;
    }
    ._layer{
        background:#000000;
        margin-bottom:4px;
        border-radius:2px;
        width:28px;
        height:4px;
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
    .hamburger:hover .-top{
        -webkit-transform:translateY(-100%);
        -ms-transform:translateY(-100%);
        transform:translateY(-100%);
    }
    .hamburger:hover .-bottom{
        -webkit-transform:translateY(50%);
        -ms-transform:translateY(100%);
        transform:translateY(100%);
        }
    .hamburger.is-active .-top{
        -webkit-transform:translateY(200%) rotate(45deg) !important;
        -ms-transform:translateY(200%) rotate(45deg) !important;
        transform:translateY(200%) rotate(45deg) !important;
    }
    .hamburger.is-active .-mid{
        opacity:0;
    }
    .hamburger.is-active .-bottom{
        -webkit-transform:translateY(-200%) rotate(135deg) !important;
        -ms-transform:translateY(-200%) rotate(135deg) !important;
        transform:translateY(-200%) rotate(135deg) !important;
    }
    
    .menuppal.is_active{
      transform: translate3d(0px, 0px, 0px);
    }
    .menuppal{
        display: block;
       background-color: rgba(255, 255, 255, 0.703);
        bottom: 0;
        height: 100%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
    }
    .menuppal ul{
      margin:0;padding:0;
    }
    .menuppal ul li { 
      list-style: none;
        text-align:center;
        font-size:35px;
        font-weight: 900;
        padding: 20px;
        margin: 60px 0 20px 0;
        line-height:3em;
        height:3em;
        text-transform:none;
        font-weight:bold;
    }
    .menuppal ul li a{
      text-decoration:none;
      color:rgb(0, 0, 0);
    }
    .menuppal ul li a:hover{
      text-decoration:none;
      color:#ff0073;
    }
    
    .menuppal ul li a:focus{
        text-decoration:none;
        color:#ff0073;
      }
      
    
     */


    .menu .option{
        display: none;
    }


    .tarjeta-bienvenida{
        width: 100%; 
        text-align: center;
    }


    header{
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
    }
    

    .container-tarjetas{
        width: 100%;
        height: 1300px;
        flex-direction: column;
        margin-top: 40px;
        
    }


    section p{
        width: 75%;
        margin: 20px auto 20px auto;
        font-size: 20px;
        font-weight: 900;
        color: white;
        text-align: justify;
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        padding: 30px;
        border-radius: 10px;
    }
    
    
    .t1, .t2, .t3{
        width: 300px;
        height: 450px;
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        filter:drop-shadow(0 8px 8px rgba(0,0,0,0.5));
    }
    

    .beneficios{
        width: 75%;
        height: 900px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin: 60px auto;
        filter:drop-shadow(0 8px 8px rgba(0,0,0,0.2));
        background-color: #ffffff;
    }

    .beneficios h2{
        width: 100%;
        margin: 10px auto;
        font-size: 40px;
    }
    
    .iconos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: auto;
        font-size: 16px;
        color: rgb(0, 0, 0);
    }
    
    .img-ico{
        width: 20%;
        padding: 35px;
    }

    /* Formulario */

    .contact_form{  
    
        width: 95%; 
        height: auto;
        margin: 60px auto;
        border-radius: 20px;  
        padding-top: 20px;
        padding-bottom: 20px;  
        background-color: rgba(40, 45, 47, 0.437); 
      
          border-top: 1px solid rgba(255, 0, 255, 0.555);
          border-left: 1px solid rgba(235, 85, 255, 0.431);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.218);
          backdrop-filter: blur(5px);
      }

      input{
        background-color: #fbfbfb; 
        width: 90%; 
        height: 40px; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color: #ab4493; 
        margin-top: 10px;  
        padding-left: 10px;
        margin-bottom: 20px; 
      }
      
      
      textarea{
        width: 90%; 
        height: 150px; 
      }
      
      
      button{
          width: 75%;
      }
      
      button p{
        color: #fff; 
      }
      
      
      span{
        color: #ab4493; 
      }
      
      
      .aviso{
        font-size: 12px;
        letter-spacing: 2px; 
        color: #ffffff;  
        font-family: sans-serif;
      }
      
      .formulario h2{
          font-size: 40px;
          width: 80%;
          text-align: center;
          padding: 30px;
          
      }
      
      .contact-me{
          font-size: 13px;
          text-align: center;
          margin: auto;
          width: 90%;
          text-align: left; 
          padding-bottom: 30px; 
          color: white;
          font-weight: 600;
      }



}




@media only screen and (max-width: 575px) and (min-width: 345px){

    .menu .option{
        display: none;
    }


    .tarjeta-bienvenida{
        width: 100%; 
        text-align: center;
    }

    header{
        
        background-position-x: -250px ;
        width: 100%;
        height: 100vh;
    }


    section h2{
        font-size: 30px;
    }

    section p{
        width: 50%;
        margin: 20px auto 20px auto;
        font-size: 15px;
        font-weight: 900;
        color: white;
        text-align: justify;
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        padding: 30px;
        border-radius: 10px;
    }
    


    .container-tarjetas{
        width: 100%;
        height: 1500px;
        flex-direction: column;
        margin-top: 40px;
        
    }


    section p{
        width: 75%;
        margin: 20px auto 20px auto;
        font-size: 18px;
        font-weight: 900;
        color: white;
        text-align: justify;
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        padding: 30px;
        border-radius: 10px;
    }
    
    
    .t1, .t2, .t3{
        width: 300px;
        height: 450px;
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        filter:drop-shadow(0 8px 8px rgba(0,0,0,0.5));
    }


    .beneficios{
        width: 95%;
        height: 950px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin: 60px auto;
        filter:drop-shadow(0 8px 8px rgba(0,0,0,0.2));
        background-color: #ffffff;
    }

    .beneficios h2{
        width: 100%;
        margin: 10px auto;
        font-size: 40px;
    }
    
    .iconos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: auto;
        font-size: 16px;
        color: rgb(0, 0, 0);
    }
    
    .img-ico{
        width: 40%;
        padding: 35px;
    }
}